# Ignore temporary files from OS' and editors.
*~
.DS_Store

# Ignore build output.
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
*.a
sample/sample
tests/tests

/build
/hayai-config.cmake
/hayai-targets.cmake
/install_manifest.txt
/Testing
/debian/changelog
/debian/copyright
/dist
/.vagrant
