Source: hayai
Priority: extra
Maintainer: Nick Bruun <nick@bruun.co>
Build-Depends: debhelper (>= 7), dpkg-dev (>= 1.16.1~), pkg-config, cmake
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/nickbruun/hayai

Package: libhayai-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: hayai C++ benchmarking framework (development files)
 Google Test-inspired C++ benchmarking framework.
